<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/player/songs/" method="post" enctype="multipart/form-data">{% csrf_token %}
        name: <input type="text" name='name'>
        artist: <input type="text" name="artist" id="">
        duration: <input type="number" name="duration" id="">
        year: <input type="number" name="year" id="">
        gender: <input type="text" name="gender" id="">
        album: <input type="text" name="album" id="">
        image: <input type="file" name='image' id="image" alt="asd">
        song : <input type="file" name="file" id="file">
        <input type="submit" value="submit">
    </form>
   
</body>
</html>