<link rel="stylesheet" href="http://localhost/static/admin/css/estilo.css">

<form name="calculator">
    <h3>Calculadora Virtual</h3>
    <p>Haz algun calculo para ver el resultado.</p>
    <input type="text" name="ans" value="">
    <br>
    <br>
    <input type="button" value="1" onClick="document.calculator.ans.value+='1'">
    <input type="button" value="2" onClick="document.calculator.ans.value+='2'">
    <input type="button" value="3" onClick="document.calculator.ans.value+='3'">
    <input type="button" value="+" onClick="document.calculator.ans.value+='+'">
    <br>
    <input type="button" value="4" onClick="document.calculator.ans.value+='4'">
    <input type="button" value="5" onClick="document.calculator.ans.value+='5'">
    <input type="button" value="6" onClick="document.calculator.ans.value+='6'">
    <input type="button" value="-" onClick="document.calculator.ans.value+='-'">
    <br>
    <input type="button" value="7" onClick="document.calculator.ans.value+='7'">
    <input type="button" value="8" onClick="document.calculator.ans.value+='8'">
    <input type="button" value="9" onClick="document.calculator.ans.value+='9'">
    <input type="button" value="*" onClick="document.calculator.ans.value+='*'">
    <br>
    <input type="button" value="0" onClick="document.calculator.ans.value+='0'">
    <input type="reset" value="c">
    <input type="button" value="/" onClick="document.calculator.ans.value+='/'">
    <input type="button" value="=" onClick="calculate(document.calculator.ans.value)">
  </form>

  {% csrf_token %}
<script> 
  function calculate(val){
    let data = {'expresion': val};
    
    fetch('http://localhost/calculate/expresion/', {
      method: 'POST', 
      body: JSON.stringify(data),
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
        'Content-Type': 'application/json'
      }
    }).then((res) => res.json()).then((response) => alert(response));
  }
</script>
