body {
  background-image: url("fondoInicio.jpg");
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.App{
  text-align: right;
  color: #f2b927;
  margin-right: 2%;
  font-family: "Avantgarde", sans-serif;


}

.BIENVENIDOS{
  font-size: 50px;
  margin-bottom: 0%;
}
.NOSOTROS{
  margin-top: 0%;
  font-size: 50px;
  margin-bottom: 0%;
}
.COPYCAT{
  margin-top: 0%;
  font-size: 50px;
  margin-bottom: 2%;

}
.unete{
  border: none;
  background-color: #3c145c;
  padding: 8px 100px;
  color: white;
  margin-right: 2%;
  margin-top: 0%;
  -moz-box-shadow:    inset 0 0 10px #000000; /*sombraaaaaaaaaaaaaa*/
   -webkit-box-shadow: inset 0 0 10px #000000; /*sombraaaaaaaaaaaaaa*/
   box-shadow:         inset 0 0 10px #000000; /*sombraaaaaaaaaaaaaa*/
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;

}
.unete:hover{
  background-color: #ff7b2e; /* Green */
  color: white;
}

.entrar{
  border: none;
  background-color: #260442;
  padding: 8px 100px;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  -moz-box-shadow:    inset 0 0 10px #000000; /*sombraaaaaaaaaaaaaa*/
   -webkit-box-shadow: inset 0 0 10px #000000; /*sombraaaaaaaaaaaaaa*/
   box-shadow:         inset 0 0 10px #000000; /*sombraaaaaaaaaaaaaa*/
}
.entrar:hover{
  background-color: #e05200; /* Green */
  color: white;
}
